.review-card {
    width: 30rem;
    height: 20rem;
    padding: 2rem;
    background: rgba(41, 41, 56, 0.4);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(41, 41, 56, 0.5);
    user-select: none;
}

.review-desc {
    color: white;
    font-weight: 300;
    font-size: 1.25rem;
    margin: 1rem 0;
    height: 7.5rem;
}

.review-quote {
    color: white;
    font-size: 2rem;
}

.review-card span {
    width: 100%;
    height: 1px;
    background-color: #383846;
    display: block;
}

.review-user {
    display: flex;
    justify-content: space-between;
}

.review-user {
    margin: 1rem 0;
}

.review-user-profile-pict {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.review-user-profile {
    display: flex;
}

.review-user img {
    margin-right: .5rem;
}

.review-user h4 {
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
    margin: auto 0;
    width: 300px;
}

.review-like {
    color: white;
    font-size: 2.5rem;
    margin: auto 0;
}