.button{
    padding: 0 10rem;
  }
  
  .button-input{
    padding: .75rem 1rem;
    width: 29rem;
    border-radius: .75rem;
    color: #fff;
    background-color: #834BFF;
    border-style: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  .button-input:hover{
    background-color: #7130ff;
  }