.buttonGetStarted{
    padding: 0;
}

.button-start{
    padding: .75rem 1.5rem;
    width: 100%;
    border-radius: 3rem;
    color: #0C0C1D;
    background-color: white;
    border-style: none;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 auto;
}

.button-start:hover{
    background-color: #e5e5e5;
    transform: scale(.98);
}

.background-glass-button{
    display: flex;
    padding: .5rem;
    margin: 0 auto;
    width: 50%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

/* .review .active-modal {
    overflow-y: hidden;
}

.modal-start, .overlay-start {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #101010;
    padding: 1.5rem;
    border-radius: 1rem;
    max-width: 600px;
    min-width: 300px;
    transition: .5s;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 1rem;
    background-color: transparent;
    border-style: none;
}

.login-role-selection{
    background-color: #834BFF;
    padding: 1rem;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    align-items: center;
    display: flex;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s;
    font-weight: 500;
}

.login-role-selection:hover{
    background-color: #7130ff;
} */