.list-kos-card-shimmer {
    background-color: #f4f4f4;
    width: 100%;
    min-width: 250px;
    max-width: 400px;
    height: 400px;
    border-radius: 1.5rem;
    padding: 1rem;
    box-shadow: 0px 0px 25px 5px rgba(189, 189, 189, 0.3);
    border: 1px solid #0c0c1d;
    position: relative;
    overflow: hidden;
}

.shimmer-image {
    height: 200px;
    background-color: #e2e2e2;
    border-radius: 1rem;
}

.shimmer-content {
    margin-top: 1rem;
}

.shimmer-line {
    height: 20px;
    background: linear-gradient(to right, transparent 0%, #e2e2e2 50%, transparent 100%);
    background-size: 200% 100%;
    animation: shimmerAnimation 1.5s infinite linear;
    margin-bottom: 0.5rem;
}

.shimmer-title {
    width: 70%;
}

.shimmer-location {
    width: 50%;
}

.shimmer-price {
    width: 40%;
}

@keyframes shimmerAnimation {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

/*=============== BREAKPOINTS ===============*/

/* Media Query 320px */
@media screen and (max-width: 320px) {

    /* Gaya-gaya di breakpoint 320px */
}

/* Media Query 480px */
@media screen and (min-width: 321px) and (max-width: 480px) {

    /* Gaya-gaya di breakpoint 480px */
}

/* Media Query 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {

    /* Gaya-gaya di breakpoint 768px */
}

/* Media Query 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Gaya-gaya di breakpoint 1024px */
}

/* Media Query 1280px */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    /* Gaya-gaya di breakpoint 1280px */
}

/* Media Query 1440px */
@media screen and (min-width: 1281px) and (max-width: 1440px) {

    /* Gaya-gaya di breakpoint 1440px */
    .list-kos-card-shimmer {
        width: 292px;
    }
}

/* Media Query paling besar */
@media screen and (min-width: 1441px) {

    /* Gaya-gaya di media query paling besar */
    .list-kos-card-shimmer {
        width: 292px;
    }
}