.popular-card {
    background-color: #f4f4f4;
    width: 400px;
    height: 450px;
    border-radius: 1.5rem;
    padding: 1.5rem;
    transition: .2s ease-in-out;
    margin-right: 1.5rem;
    box-shadow: 0px 0px 25px 15px rgba(189, 189, 189, 0.3);
    -webkit-box-shadow: 0px 0px 25px 15px rgba(189, 189, 189, 0.3);
    -moz-box-shadow: 0px 0px 25px 15px rgba(189, 189, 189, 0.3);
    transition: .3s all ease-in-out;
}

.popular-card:hover {
    transform: scale(1.025);
    background-color: #e5dafe;
}

.popular-image {
    height: 250px;
    overflow: hidden;
    border-radius: 1rem;
}

.popular-kos-image {
    width: 350px;
    /* height: 250px; */
    aspect-ratio: 7 / 5;
    border-radius: 1rem;
    transition: .5s all ease-in-out;
}

.popular-owner {
    height: 4rem;
    transform: translateY(-125%);
    display: flex;
    margin-left: 1rem;
    /* box-shadow: 0px 10px 15px 5px rgba(29, 29, 29, 0.2);
    -webkit-box-shadow: 0px 10px 15px 5px rgba(29, 29, 29, 0.2);
    -moz-box-shadow: 0px 10px 15px 5px rgba(29, 29, 29, 0.2); */
}

.popular-owner-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.popular-owner h4 {
    color: white;
    font-weight: 600;
    margin-left: .5rem;
}

.popular-kos h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    margin-top: .5rem;
}

.popular-location {
    display: flex;
    margin-top: .5rem;
}

.popular-location h4 {
    font-size: 1rem;
    font-weight: 400;
    color: #737D8C;
    margin: auto;
    margin-left: .5rem;
}

.popular-location-icon {
    color: #737D8C;
    margin: auto 0;
}

.popular-price {
    margin-bottom: .5rem;
}

.popular-price h4 {
    color: #2A323C;
}

.popular-price span {
    font-size: 1rem;
    font-weight: 500;
}

/*=============== BREAKPOINTS ===============*/

/* Media Query 320px */
@media screen and (max-width: 320px) {
    /* Gaya-gaya di breakpoint 320px */

    .popular-card {
        width: 70%;
        height: auto;
        margin: 0;
        padding: 1rem;
    }
}

/* Media Query 480px */
@media screen and (min-width: 321px) and (max-width: 480px) {

    /* Gaya-gaya di breakpoint 480px */
    .popular-card {
        width: 210px;
        height: auto;
        margin: 0;
        padding: 1rem;
    }

    .popular-image {
        /* height: 150px; */
        height: auto;
    }

    .popular-kos-image {
        width: 100%;
    }

    .popular-owner {
        transform: translateY(-100%);
    }

    .popular-owner h4 {
        margin: 0;
        padding: 8px 0;
        margin-left: .5rem;
        font-size: .875rem;
    }

    .popular-owner-image {
        width: 30px;
        height: 30px;
    }

    .popular-kos h4 {
        font-size: 1rem;
    }

    .popular-location h4 {
        font-size: .875rem;
    }

    .popular-price span {
        font-size: .875rem;
    }
}

/* Media Query 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Gaya-gaya di breakpoint 768px */
}

/* Media Query 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Gaya-gaya di breakpoint 1024px */
}

/* Media Query 1280px */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    /* Gaya-gaya di breakpoint 1280px */
}

/* Media Query 1440px */
@media screen and (min-width: 1281px) and (max-width: 1440px) {
    /* Gaya-gaya di breakpoint 1440px */
}

/* Media Query paling besar */
@media screen and (min-width: 1441px) {
    /* Gaya-gaya di media query paling besar */
}

@media screen and (max-width: 480px) {}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .popular-card {
        width: 272px;
        height: 350px;
        margin: 0;
    }

    .popular-image {
        height: 150px;
    }

    .popular-kos-image {
        width: 232px;
    }

    .popular-owner {
        transform: translateY(-160%);
    }

    .popular-owner h4 {
        margin: 0;
        padding: 10px 0;
        margin-left: .5rem;
    }

    .popular-owner-image {
        width: 40px;
        height: 40px;
    }

    .popular-kos h4 {
        font-size: 1rem;
    }

    .popular-location h4 {
        font-size: .875rem;
    }

    .popular-price span {
        font-size: .875rem;
    }
}