.filter-search-wrapper{
    background-color: #f1f1f1;
    width: 100%;
    border-radius: .5rem;
    height: 3rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    margin-top: .5rem;
}

.filter-input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1rem;
    width: 100%;
    margin-left: .5rem;
}

.filter-input:focus{
    outline: none;
}