.nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    max-width: 100%;
    /* padding: 1rem 100px 1rem 100px; */
    padding: 0 100px;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all 0.4s ease-in-out;
}

.nav.fixed{
    background-color: #0c0c1d;
    box-shadow: 0 2px 4px hsla(0, 0%, 1%, 1);
    /* border-radius: 0 0 2rem 2rem; */
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    list-style: none;
}

.nav-item{
    margin: auto 1.5rem auto 0;
    /* align-items: center; */
}

.nav-link{
    color: #a5a5a5;
    text-decoration: none;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.nav-item a:hover{
    color: white;
}

.nav-logo{
    height: 3rem;
    margin: auto 0;
}

.button-login{
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: #834BFF;
    color: white;
    border-style: none;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
    height: 3rem;
}

.button-login:hover{
    background-color: #7130ff;
}

.modal, .overlay-login {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

.overlay-login {
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #101010;
    color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    max-width: 600px;
    min-width: 300px;
    transition: .5s ease-in-out;
    z-index: 1;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 1rem;
    background-color: transparent;
    border-style: none;
}
/* 
.close-modal:hover{
    animation: rotate 1s;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    } to {
        transform: rotate(90deg);
    }
} */

.login-role-selection{
    background-color: #834BFF;
    padding: 1rem;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    align-items: center;
    display: flex;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease-in-out;
    font-weight: 500;
}

.login-role-selection:hover{
    background-color: #7130ff;
}

.profile-image{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.dropdown-content {
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    left: 85%;
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    transition: opacity 1s ease-in-out;
    opacity: 0;

    background: rgba(12, 12, 29, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(12, 12, 29, 0.25);
}

.dropdown-content.open {
    opacity: 1;
}

.dropdown-link {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.dropdown-button {
    background-color: #f14f5d;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.dropdown-button:hover{
    background-color: #e44a57;
}