.asset-card-shimmer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* margin-bottom: 16px; */
    background-color: #f2f2f2;
    border-radius: 8px;
    /* padding: 16px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 235px;
    height: 320px;
}

.asset-shimmer-image {
    width: 100%;
    height: 160px;
    background-color: #ddd;
    /* border-radius: 8px; */
    border-radius: 8px 8px 0 0;
}

.shimmer-content {
    flex: 1;
    padding: 12px;
}

.shimmer-line {
    height: 12px;
    background-color: #ddd;
    margin-bottom: 8px;
}

.shimmer-title {
    width: 70%;
}

.shimmer-location {
    width: 50%;
}

.shimmer-price {
    width: 30%;
}