.progress-checkout-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.progress-step-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.step-check{
  background-color: #834BFF;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  margin-bottom: 1rem;
  position: relative;
  background-image: url(../../assets//images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.progress-step-container:nth-of-type(4) .step-check::after{
  display: none;
}
.progress-step-container:nth-of-type(4) .step-check{
  background-image: none;
  background-color: white;
  border: 2px solid grey;
}
.progress-step-container:nth-of-type(4) .step-check::after{
  display: none;
}
.progress-step-container:nth-of-type(3) .step-check{
  background-image: none;
  background-color: white;
  border: 2px solid grey;
}

.progress-step-container:nth-of-type(3) .step-check::after{
  background-color: grey;
}
.progress-step-container:nth-of-type(2) .step-check::after{
  background-color: grey;
}

.progress-step-container:nth-of-type(2) .step-check{
  background-image: none;
  background-color: white;
  border: 2px solid #834BFF;
}

.step-check::after{
  content: "";
  width: 15vw;
  height: 2px;
  background-color: inherit;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(100%) translateY(-50%);
}

.step-title{
  color: grey;
}
