.checkbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox__input {
  display: none;
}

.checkbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 30px;
  position: relative;
}

.checkbox__label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #fff;
  border: 2px solid #834bff;
  transition: all 0.3s ease;
}

.checkbox__label:hover:before {
  border-color: #834bff;
}

.checkbox__label.checked:before {
  background-color: #834bff;
  border-color: #834bff;
}

.checkbox__label.checked:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 16px;
  color: #fff;
}

.checkbox__text {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}
