@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* 
Font Weight
400 - Reguler
500 - Medium
600 - Semibold
700 - Bold
800 - Extrabold
*/

.App {
  text-align: center;
}

* {
  font-family: 'Poppins', sans-serif;
  /* overflow-y: hidden; */
  box-sizing: border-box;
}
