
.konten-pembayaran {
    display: flex;
    justify-content: space-between;
    padding: 100px 100px 50px;
}

.pembayaran-kiri {
    display: flex;
    flex-direction: column;
    gap: 20px;    
    width: 800px;
}

.button-text-kembali {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}



.title-button-text-kembali {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.isi-atas-pembayaran-kiri {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-informasi-penyewa {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-informasi-penyewa a {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
line-height: 24px;

/* or 150% */

display: flex;
align-items: center;

color: #404040;

}
.upload-data-gambar a {
    font-family: 'Poppins';
font-style: normal;


color: #404040;

}

.konten-pembayaran h1{
    font-size: 20px;
    color: #404040;
    margin-top: 10px;
    margin-bottom: 5px;
}

.isi-informasi-penyewa1 p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
margin-top: -20px;
/* or 150% */

display: flex;
align-items: center;

color: #888888;
}

.pilihan-metode-pembayaran {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.larangan-pemilik {
    box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
width: fit-content;
padding-left: 20px;
padding-right: 20px;
height: 48px;

background: #FFFFFF;
border: 1px solid #A5A5A5;
border-radius: 8px;
}

.upload-data-gambar-atas {
    display: flex;
    gap: 20px;
}

.upload-data-gambar-bawah {
    display: flex;
    gap: 20px;
}

.upload-ktp,
.upload-selfie-ktp,
.upload-kartu-keluarga,
.upload-buku-nikah {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.biaya_sewa_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.biaya_sewa_title a {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
line-height: 24px;

/* or 150% */

display: flex;
align-items: center;

color: #404040;

}

.isi_biaya_sewa {
    display: flex;
    align-items: center;
    justify-content: space-between  ;
}

.isi_biaya_sewa p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    /* or 150% */
    
    color: #404040;
}
.isi_biaya_sewa span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* or 150% */
    
    color: #888888;
}

.totalan_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.totalan_title h3{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.totalan_title span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* or 150% */
    
    color: #888888;
}


.metode_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.metode_title a {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
line-height: 24px;

/* or 150% */

display: flex;
align-items: center;

color: #404040;

}

.isi_metode p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    /* or 150% */
    
    color: #404040;
}
.isi_metode span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* or 150% */
    
    color: #888888;
}
.total_metode p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    /* or 150% */
    
    color: #404040;
}
.total_metode span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    /* or 150% */
    
    color: #404040;
}