/* Styling untuk container accordion */
.syarat {
    margin: 10px 50px;
    max-width: 900px;
  }
  
  .accordion {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px; /* Jarak antara accordion bisa diatur dengan margin-bottom */
    margin-left: -10px;
  }
  
  /* Styling untuk header accordion */
  .accordion-header {
    width: 100%;
    max-width: 600px;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    background: none;
  }
  
  /* Styling untuk judul (title) accordion */
  .accordion-title {
    /* Ganti CSS styling sesuai kebutuhan Anda */
    color: #383746;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  }
  
  /* Styling untuk ikon panah */
  .accordion-icon {
    position: absolute;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s;
  }
  
  /* Styling untuk ikon panah saat accordion di-expanded */
  .accordion.expanded .accordion-icon {
    transform: translateY(-50%) rotateX(180deg); /* Jarak panah saat accordion terbuka bisa diatur dengan mengubah nilai right */
  }
  
  /* Styling untuk konten accordion */
  .accordion-content {
    padding: 16px;
  }
  